html,
body {
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 0.01em;
  font-weight: 400;
  color: #3a3a3a;
  font-family: "proxima-nova", sans-serif;
}
.container {
  display: block;
  width: 90%;
  max-width: 1024px;
  margin: 0 auto;
}
.container:before,
.container:after {
  content: " ";
  display: table;
}
.container:after {
  clear: both;
}
header#header {
  display: block;
  width: 100%;
  margin: 0 auto;
  padding: 120px 0;
  text-align: center;
}
header#header h1 {
  font-family: "futura-pt-condensed", impact;
  font-weight: 700;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
header#header .profile-avatar img {
  display: block;
  height: 100px;
  width: 100px;
  margin: 0 auto;
  border-radius: 50%;
}
header#header .profile-fields {
  font-size: 14px;
}
header#header .profile-fields .field-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
main .portfolio-area {
  margin: 16px auto;
  margin: 1.6rem auto;
  max-width: 1024px;
  width: 100%;
}
main .portfolio-area .portfolio-list {
  padding-left: 0;
}
main .portfolio-area .portfolio-list:before,
main .portfolio-area .portfolio-list:after {
  content: " ";
  display: table;
}
main .portfolio-area .portfolio-list:after {
  clear: both;
}
main .portfolio-area .portfolio-item {
  margin-bottom: 30px;
  margin-bottom: 3rem;
  height: 320px;
  height: 32rem;
  padding: 0 15px;
  padding: 0 1.5rem;
  float: left;
  list-style-type: none;
  width: 33.33333333333333%;
}
main .portfolio-area .portfolio-content {
  text-align: center;
}
main .portfolio-area .portfolio-image {
  width: 100%;
  max-width: 100%;
  cursor: pointer;
}
main .portfolio-area .portfolio-title {
  font-size: 12px;
  font-size: 1.2rem;
  text-transform: capitalize;
  vertical-align: middle;
  width: 100%;
}
main .portfolio-area .portfolio-fields {
  font-size: 12px;
  font-size: 1.2rem;
}
main .portfolio-area .portfolio-fields .field-list {
  padding: 0;
}
main .portfolio-area .portfolio-fields .field-item {
  display: inline-block;
}
main .portfolio-area .portfolio-fields .field-item:after {
  content: ' ,';
}
main .portfolio-area .portfolio-fields .field-item:last-child:after {
  content: '';
}
.portfolio-footer {
  margin: 30px auto;
  margin: 3rem auto;
  max-width: 960px;
  max-width: 96rem;
  text-align: center;
  width: 100%;
}
.portfolio-footer .power-by {
  font-size: 12px;
  font-size: 1.2rem;
  text-transform: uppercase;
}
.portfolio-footer .power-logo {
  width: 36px;
  width: 3.6rem;
  height: 36px;
  height: 3.6rem;
  color: #1769ff;
  display: inline-block;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  text-decoration: none;
  text-indent: 100%;
  white-space: nowrap;
}
.portfolio-footer .power-logo:before {
  line-height: 38px;
  line-height: 3.8rem;
  font-size: 36px;
  font-size: 3.6rem;
  display: inline-block;
  height: 100%;
  left: 0;
  position: absolute;
  text-indent: 0;
  top: 0;
  width: 100%;
}
